
DATABASE_URL=postgresql://postgres.tneuvlunqqjghtpbdpwj:S5eRmw8LE0MOZbmB0_uJ@aws-0-us-west-2.pooler.supabase.com:5432/postgres?schema=public
POSTGRES_USER=postgres.tneuvlunqqjghtpbdpwj
POSTGRES_PASSWORD=S5eRmw8LE0MOZbmB0_uJ
POSTGRES_DB=postgres
HOST=aws-0-us-west-2.pooler.supabase.com
PORT=5432
FINNHUB_API_KEY=d6mvt99r01qir35imsc0d6mvt99r01qir35imscg
ALPAKA_API_KEY=PK6ACO6H5D66P2USUIL62MLPYU
ALPAKA_API_SECRET=68QYaxtotwvnFNxCmFxpAUQSjEowHvRVuZtFkUPNBV6f